* + *,
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
a,
ul,
li {
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2,
h3,
p,
li,
div {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1em;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #9356DC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: vanish 3s 1 linear forwards;
          animation: vanish 3s 1 linear forwards;
}
.preloader__title {
  color: white;
  font-size: 3rem;
}
.preloader__loader {
  display: block;
  width: 105px;
  height: 105px;
  position: relative;
}
.preloader__loader::before {
  content: "";
  width: 105px;
  height: 105px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  border: 6px dotted;
  border-color: white transparent #99E2D0 transparent;
  -webkit-animation: preloader 2s 2 linear;
          animation: preloader 2s 2 linear;
}

@-webkit-keyframes preloader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes preloader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes vanish {
  0% {
    opacity: 1;
    z-index: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes vanish {
  0% {
    opacity: 1;
    z-index: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.header {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-size: 2rem;
  text-align: center;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(247, 247, 247);
  height: 340px;
}
.location__title {
  line-height: 1;
  padding: 44px 70px 20px 70px;
}
.location__text {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.2;
  padding: 0 40px 30px 40px;
}
.location__choice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 3.25rem;
  background-color: rgb(234, 234, 234);
}
.location__choice__icon {
  font-size: 1.125rem;
  padding-bottom: 2px;
}
.location__choice input {
  font-weight: 400;
  min-height: 2rem;
}
.location__choice input {
  border: none;
  background-color: rgb(234, 234, 234);
  width: 150px;
}
.location__choice ::-moz-placeholder {
  color: black;
  font-size: 1rem;
  opacity: 1;
}
.location__choice :-ms-input-placeholder {
  color: black;
  font-size: 1rem;
  opacity: 1;
}
.location__choice ::placeholder {
  color: black;
  font-size: 1rem;
  opacity: 1;
}

.button__purple {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 13.625rem;
  height: 3.125rem;
  font-size: 1rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.button__purple:hover {
  box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 0.6);
}

.fonction {
  min-height: 27.5rem;
}
.fonction__title {
  padding: 52px 0 30px 5%;
}
.fonction__button {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto 25px auto;
  width: min(89%, 435px);
}
.fonction__button--button {
  display: flex;
  align-items: center;
  background-color: rgb(247, 247, 247);
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 4.25rem;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
.fonction__button--button:hover {
  background: #e9ddf8;
  box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 0.6);
}
.fonction__button--icon {
  position: absolute;
  left: 10%;
  font-size: 1rem;
}
.fonction__button--text {
  position: absolute;
  left: 22%;
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: 500;
}
.fonction__button:nth-child(2)::before {
  position: absolute;
  left: -12px;
  top: calc(50% - 12px);
  font-size: 0.875rem;
  color: white;
  text-align: center;
  border-radius: 50%;
  background: #9356DC;
  height: 24px;
  width: 24px;
  padding: 3px 7px 5px 7px;
  content: "1";
}
.fonction__button:nth-child(3)::before {
  position: absolute;
  left: -12px;
  top: calc(50% - 12px);
  font-size: 0.875rem;
  color: white;
  text-align: center;
  border-radius: 50%;
  background: #9356DC;
  height: 24px;
  width: 24px;
  padding: 3px 7px 5px 7px;
  content: "2";
}
.fonction__button:nth-child(4)::before {
  position: absolute;
  left: -12px;
  top: calc(50% - 12px);
  font-size: 0.875rem;
  color: white;
  text-align: center;
  border-radius: 50%;
  background: #9356DC;
  height: 24px;
  width: 24px;
  padding: 3px 7px 5px 7px;
  content: "3";
}

.rest {
  height: 1227px;
  background-color: rgb(247, 247, 247);
}
.rest__title {
  padding: 52px 0 32px 5%;
}
.rest__card {
  margin-bottom: 1.125rem;
  margin-inline: auto;
  width: min(89%, 475px);
  height: 250px;
  background-color: white;
  border-radius: 15px;
}
.rest__card__img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.rest__card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
}
.rest__card__content__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: black;
  letter-spacing: 0.3px;
  padding: 13px 0 13px 15px;
}
.rest__card__content h3 {
  font-size: 1.1rem;
}
.rest__card__content p {
  font-size: 1rem;
  font-weight: 300;
}

.heart__icon {
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  position: relative;
  font-weight: bold;
  text-align: center;
  padding-right: 24px;
}
.heart__icon:hover {
  background: linear-gradient(to bottoom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-animation: heartFileIn linear 1s;
          animation: heartFileIn linear 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.heart__icon__fa:after {
  content: "\f004";
  position: absolute;
  font-size: 30px;
  top: center;
  right: 24px;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
}
.heart__icon:hover .fa-heart:after {
  visibility: visible;
}

@-webkit-keyframes heartFileIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heartFileIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  background-color: #353535;
  height: 12.5rem;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  color: white;
  padding: 26px 25px 10px 5%;
}
.footer ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  padding-left: 5%;
}
.footer ul li {
  line-height: 1.2;
  padding-bottom: 0.625rem;
}
.footer a {
  color: white;
  font-weight: 400;
  font-size: 0.888rem;
}
.footer__icon {
  font-size: 0.888rem;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-handshake-angle {
  margin-right: 10px;
}

.restau--bckgrd {
  background: rgb(247, 247, 247);
}

.restau__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  position: relative;
}
.restau__header__title {
  font-size: 1.8rem;
  text-align: center;
  padding-top: 0.5rem;
}
.restau__header__icon {
  position: absolute;
  font-size: 1.3rem;
  top: 44%;
  left: 24px;
}
.restau__img--1 {
  height: min(69vw, 520px);
  background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
}
.restau__img--2 {
  height: min(69vw, 520px);
  background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
}
.restau__img--3 {
  height: min(69vw, 520px);
  background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
}
.restau__img--4 {
  height: min(69vw, 520px);
  background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
}
.restau__name {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.restau__name__title {
  font-size: 1.5rem;
  padding-left: 4%;
}
.restau__name::before {
  content: "";
  position: absolute;
  top: -39px;
  background: rgb(247, 247, 247);
  height: 40px;
  width: 100%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.restau__icon {
  padding-right: 2.625rem;
}
.restau__heart {
  font-size: 1.625rem;
}
.restau__heart:after {
  font-size: 1.625rem;
  top: 4px;
  right: 2.625rem;
}
.restau__section {
  width: min(89%, 450px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.restau__section__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restau__section__title {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 200;
  padding-top: 43px;
}
.restau__section__underline {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  margin: 4px 0 12px 0;
}
.restau--row {
  width: 100%;
}
.restau__card {
  width: min(100%, 470px);
  height: 4.25rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restau__card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5%;
  flex-grow: 1;
  overflow: hidden;
}
.restau__card__title {
  font-size: 1rem;
  font-weight: 400;
  padding: 12px 0 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restau__card__text {
  position: relative;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0 0 16px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restau__card__price {
  width: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 24px 15px 0;
  margin-left: 5px;
  font-weight: 500;
}
.restau__button {
  display: flex;
}
.restau__button__purple {
  margin: 2rem auto 2.5rem auto;
}

.restau__animation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 100%;
  background: #99E2D0;
  transition: all 1s;
}
.restau__animation__icon {
  color: #99E2D0;
  background: white;
  border-radius: 50%;
  font-size: 30px;
  position: relative;
  right: -35px;
}

.restau__card:hover .restau__card__price {
  -webkit-animation: pricePadding ease-in-out 1s forwards;
          animation: pricePadding ease-in-out 1s forwards;
}
.restau__card:hover .restau__animation {
  -webkit-animation: divFill ease-in-out 1s forwards;
          animation: divFill ease-in-out 1s forwards;
}
.restau__card:hover .restau__animation__icon {
  -webkit-animation: iconSpin ease-in-out 1s forwards;
          animation: iconSpin ease-in-out 1s forwards;
}

@-webkit-keyframes pricePadding {
  0% {
    padding-right: 24px;
  }
  100% {
    padding-right: 12px;
  }
}

@keyframes pricePadding {
  0% {
    padding-right: 24px;
  }
  100% {
    padding-right: 12px;
  }
}
@-webkit-keyframes divFill {
  0% {
    width: 0;
  }
  100% {
    width: 60px;
  }
}
@keyframes divFill {
  0% {
    width: 0;
  }
  100% {
    width: 60px;
  }
}
@-webkit-keyframes iconSpin {
  0% {
    rotate: 0turn;
  }
  100% {
    rotate: 1turn;
    translate: -35px;
  }
}
@keyframes iconSpin {
  0% {
    rotate: 0turn;
  }
  100% {
    rotate: 1turn;
    translate: -35px;
  }
}
.restau__card {
  opacity: 0;
  -webkit-animation: cardFadeIn linear 1s;
          animation: cardFadeIn linear 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.restau__card__1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.restau__card__2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.restau__card__3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.restau__card__4 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.restau__card__5 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.restau__card__6 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.restau__card__7 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.restau__card__8 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.restau__card__9 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.restau__card__10 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes cardFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cardFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
  h2 {
    font-size: 1.8rem;
  }
  .fonction__button:nth-child(2)::before, .fonction__button:nth-child(3)::before, .fonction__button:nth-child(4)::before {
    position: absolute;
    left: -12px;
    top: calc(50% - 15px);
    font-size: 0.875rem;
    color: white;
    text-align: center;
    border-radius: 50%;
    background: #9356DC;
    height: 30px;
    width: 30px;
    padding: 5px 7px 5px 7px;
  }
  .fonction__title,
.rest__title {
    width: 100%;
    padding: 52px 0 32px 0;
    text-align: center;
  }
  .rest {
    height: 1300px;
  }
  .rest__card {
    height: 260px;
  }
  .rest__card__content__text {
    padding: 10px 0 15px 15px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
  h2 {
    font-size: 1.8rem;
  }
  .fonction__title {
    padding-bottom: 50px;
  }
  .fonction__button:nth-child(2)::before, .fonction__button:nth-child(3)::before, .fonction__button:nth-child(4)::before {
    position: absolute;
    left: -12px;
    top: calc(50% - 15px);
    font-size: 0.875rem;
    color: white;
    text-align: center;
    border-radius: 50%;
    background: #9356DC;
    height: 30px;
    width: 30px;
    padding: 5px 7px 5px 7px;
  }
  .rest {
    height: 130%;
  }
  .rest--flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
    margin-inline: auto;
    padding: 40px 0 70px 0;
  }
  .footer__title,
.footer ul {
    padding-left: 0;
    text-align: center;
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size: 22px;
  }
  .restau__section {
    width: min(95%, 1650px);
  }
  .restau--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: nowrap;
  }
  .row4cards {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin-inline: auto;
  }
}/*# sourceMappingURL=style.css.map */